@font-face {
  font-family: 'FarmFont';
  src: url('../assets/fonts/From Cartoon Blocks.ttf') format('truetype');
}

@font-face {
  font-family: 'Architects Daughter';
  src: url('../assets/fonts/ArchitectsDaughter.ttf') format('truetype');
}

body {
  background-image: url('../assets/concrete_wall_2.png');
}

a {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.product-card {
  margin-top: 6px;
  margin-bottom: 6px;
}

.product-card-img {
  height: 56px;
  width: 56px;
  margin: 12px;
}

.exit-package-img {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  right: 14px;
}

.checkout-backdrop {
  background-color: black;
}

.github-container {
  position: relative;
  margin: 0 auto;
  display: block;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.link-to-repo {
  color: #2879d0;
  text-decoration: none;
}

.link-to-repo:link {
  text-decoration: none;
}

.project-descriptor {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.project-header {
  font-size: 60px;
  width: 340px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.welcome-page-container {
  box-sizing: border-box;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0.85;
}

.ext-package-img-cart {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.discount-package-img-cart {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.cart-pkg-price {
  float: right;
}

.cart-pkg-total {
  float: right;
}
