.navbar-brand {
  font-size: 26px !important;
  font-family: 'FarmFont', Fallback, sans-serif !important;
  padding: 0px;
  color: #fff;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
}

.cart-tab {
  width: 60px;
  height: 42px;
  position: absolute;
  right: 10px;
  top: 18px;
}

.cart-tab > .badge {
  position: absolute;
  right: 0;
  bottom: -8px;
  z-index: 2;
}

#cart-btn {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(-0%, -50%);
}
