@font-face {
  font-family: 'FarmFont';
  src: url('assets/fonts/From Cartoon Blocks.ttf') format('truetype');
}

body {
  background-image: url('assets/concrete_wall_2.png');
  min-width: 950px;
}

a {
  text-decoration: none;
  color: inherit;
}

#brand-title {
  font-size: 36px;
  font-family: 'FarmFont', Fallback, sans-serif !important;
  padding: 0px;
  color: #fff;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
}

.no-padding {
  padding: 2px 0px;
}

.pointer {
  cursor: pointer;
}

.package-card {
  width: 22%;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 250px;
}

.package-card-img {
  object-fit: scale-down;
  max-height: 400px;
  max-width: 400px;
  min-width: 200px;
  min-height: 200px;
}

.limited-display {
  height: 72px;
  max-height: 72px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product-card {
  margin-top: 6px;
  margin-bottom: 6px;
}

.product-card-img {
  height: 56px;
  width: 56px;
  margin: 12px;
}

.add-package-img {
  height: 48px;
  width: 48px;
  cursor: pointer;
  float: right;
  margin: -4px;
}

#exit-package-img {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px;
}

.exit-package-img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.add-package-btn {
  float: right;
  margin-top: -20px;
}

.checkout-backdrop {
  background-color: black;
}

.full-width {
  display: block;
  width: 460px;
  padding-left: 0px;
  position: relative;
}
