@font-face {
  font-family: 'FarmFont';
  src: url('assets/fonts/From Cartoon Blocks.ttf') format('truetype');
}

body {
  background-image: url('assets/concrete_wall_2.png');
  min-width: 950px;
}

a {
  text-decoration: none;
  color: inherit;
}

#brand-title {
  font-size: 36px;
  font-family: 'FarmFont', Fallback, sans-serif !important;
  padding: 0px;
  color: #fff;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
}

.header-title {
  margin: 10px;
}

#cart-btn {
  width: 60px;
  height: 60px;
  padding: 0px;
}

.no-padding {
  padding: 2px 0px;
}

.pointer {
  cursor: pointer;
}
